---
import type { FilmsResponse, PersonnesResponse, RolesResponse } from "../../pocketbase-typegen";
import Layout from "../../layouts/Layout.astro";
import type { ACTION_ERROR_CODES } from "astro:actions";
import LinkPersonne from "../../components/LinkPersonne.astro";

export const prerender = false;
const id = Astro.params.id;
type Response = FilmsResponse<{producteur : PersonnesResponse; scenariste: PersonnesResponse[]; role: RolesResponse<{acteur : PersonnesResponse}>[]}>;

const film = await Astro.locals.pb.collection<FilmsResponse<{producteur : PersonnesResponse; scenariste: PersonnesResponse[]; role: RolesResponse<{acteur : PersonnesResponse}>[]}>>("films").getOne(id!, {expand: "producteur, scenariste, role.acteur"});

---
 <Layout pageTitle={film.titre}>
<div>
        <h2>Film : {film.titre}</h2>
        <p>Année : {film.date_sortie}</p>
        {film.expand?.producteur && <p>Producteur : <LinkPersonne {...film.expand?.producteur!} /></p>}
        {film.expand?.scenariste && <p>Scénariste : {film.expand?.scenariste.map(s => <LinkPersonne {...s}/>)}</p>}
        <p>Durée : {film.duree}</p>
        {film.expand?.role && <p>Rôles : {film.expand?.role.map(r => <span>{r.nom_role + " "}</span><span>Joué par : <LinkPersonne {...r.expand?.acteur!} /></span>)}</p>}
</div>
</Layout>