---
import Layout from "../../layouts/Layout.astro"

export const prerender = false;
if (Astro.request.method === "POST"){
    const data = await Astro.request.formData();
    console.log(data);
}
---

<Layout pageTitle="Edit personne">
 <h1></h1>
 <form class="contents grid grid-cols-2 gap-4">
    <label class="contents">Nom
        <input type="text" name="nom" value="{personne.nom}" required>
    </label>
    <label class="contents">Prénom
        <input type="text" name="prenom" value="{personne.prenom}" required>
    </label>

   <button>Envoyer</button> 
    </form>
</Layout>