---
import { Debug } from 'astro:components';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import type { PersonnesResponse, FilmsResponse } from '../pocketbase-typegen';
type Response = PersonnesResponse<{films_via_producteur: FilmsResponse[]}>;
const listPersonnes = await Astro.locals.pb
  .collection("Personnes")
  .getFullList({exapnd: "films_via_producteur"});

---

<Layout pageTitle="Accueil">
	<h1>Bienvenue sur le site de la formation Astro</h1>
	<Debug>{listPersonnes} />
</Layout>
